<p id="notice" style="background: #28a745;
color: #fff;
margin-top: 10px;"><%= notice %></p>

<p>
  <strong>Descricao:</strong>
  <%= @password.descricao %>
</p>

<p>
  <strong>Login:</strong>
  <%= @password.login %>
</p>

<p>
  <strong>Senha:</strong>
  <%= @password.senha %>
</p>

<p>
  <strong>Observacao:</strong>
  <%= @password.observacao %>
</p>

<p>
  <strong>Imagem:</strong><br>
  <%= image_tag(@password.imagem_url, width: 100, height: 100) if @password.imagem_url.present? %>
</p>

<%= link_to 'Editar', edit_password_path(@password) %> |
<%= link_to 'Voltar', passwords_path %>
